In [1]:
%config Completer.use_jedi = False
import pandas as pd
import numpy as np

In [2]:
###################################
# loading census data
###################################
censo_cdmx = pd.read_csv('censo20_cdmx_por_ageb/conjunto_de_datos_ageb_urbana_09_cpv2020.csv')

# censo_cdmx.shape
numeric_cols = censo_cdmx.select_dtypes(include=np.number).columns.tolist()
for e in numeric_cols[0:-2]:
    censo_cdmx[e] = censo_cdmx[e].apply(str)

# total_ciudad = censo_cdmx[censo_cdmx.MUN == '0'].copy()
# totales_entidad = censo_cdmx[censo_cdmx.LOC == '0'].copy()
# totales_localidad = censo_cdmx[censo_cdmx.AGEB == '0000'].copy()
totales_agebs = censo_cdmx[(censo_cdmx.MZA=='0')].copy()
totales_ent_mun = totales_agebs[totales_agebs.AGEB == '0000'].copy()
totales_agebs = totales_agebs.drop(totales_agebs.loc[(totales_agebs.AGEB == '0000')].index)

# censo_cdmx = censo_cdmx.drop(censo_cdmx.loc[(censo_cdmx.MUN == '0')].index)
# censo_cdmx = censo_cdmx.drop(censo_cdmx.loc[(censo_cdmx.LOC == '0')].index)
# censo_cdmx = censo_cdmx.drop(censo_cdmx.loc[(censo_cdmx.AGEB == '0000')].index)

# censo_cdmx.isna().sum()
# censo_cdmx.LOC.value_counts()
# censo_cdmx._get_numeric_data()

In [3]:
totales_agebs

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,AGEB,MZA,POBTOT,POBFEM,...,VPH_TELEF,VPH_CEL,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCINT,VPH_SINTIC
3,9,Ciudad de México,2,Azcapotzalco,1,Total AGEB urbana,0010,0,3183,1695,...,741,772,692,313,221,145,8,14,148,5
30,9,Ciudad de México,2,Azcapotzalco,1,Total AGEB urbana,0025,0,5593,2915,...,1373,1510,1203,478,349,238,28,68,393,14
82,9,Ciudad de México,2,Azcapotzalco,1,Total AGEB urbana,003A,0,4235,2232,...,965,1049,878,361,339,247,5,12,250,*
116,9,Ciudad de México,2,Azcapotzalco,1,Total AGEB urbana,0044,0,4768,2551,...,1124,1237,1076,481,452,294,10,17,254,*
163,9,Ciudad de México,2,Azcapotzalco,1,Total AGEB urbana,0097,0,2176,1115,...,517,562,507,276,260,153,4,3,70,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68759,9,Ciudad de México,17,Venustiano Carranza,1,Total AGEB urbana,1488,0,1079,564,...,171,248,175,92,59,41,6,15,87,*
68791,9,Ciudad de México,17,Venustiano Carranza,1,Total AGEB urbana,1492,0,900,475,...,137,169,129,65,40,25,19,44,79,8
68822,9,Ciudad de México,17,Venustiano Carranza,1,Total AGEB urbana,1505,0,2513,1346,...,593,794,667,354,375,197,3,7,98,0
68870,9,Ciudad de México,17,Venustiano Carranza,1,Total AGEB urbana,151A,0,2248,1208,...,496,686,574,416,313,156,5,7,100,0
68915,9,Ciudad de México,17,Venustiano Carranza,1,Total AGEB urbana,1524,0,4295,2229,...,797,1104,880,406,270,204,14,32,267,3

In [4]:
columns = ['ENTIDAD',
           'MUN',
           'LOC',
           'AGEB',
           'POBTOT',
           'POBFEM',
           'POBMAS',
           'GRAPROES', 
           'GRAPROES_F', 
           'GRAPROES_M', 
           'POCUPADA', 
           'POCUPADA_F', 
           'POCUPADA_M', 
           'PDESOCUP', 
           'PDESOCUP_F',
           'PDESOCUP_M', 
           'VIVPAR_HAB', 
           'PRO_OCUP_C']

In [5]:
my_data = totales_agebs[columns].copy()

In [6]:
my_data.head()

,ENTIDAD,MUN,LOC,AGEB,POBTOT,POBFEM,POBMAS,GRAPROES,GRAPROES_F,GRAPROES_M,POCUPADA,POCUPADA_F,POCUPADA_M,PDESOCUP,PDESOCUP_F,PDESOCUP_M,VIVPAR_HAB,PRO_OCUP_C
3,9,2,1,0010,3183,1695,1488,11.52,11.14,11.96,1532,680,852,50,18,32,860,0.78
30,9,2,1,0025,5593,2915,2678,10.73,10.48,11.02,2810,1292,1518,44,19,25,1637,0.76
82,9,2,1,003A,4235,2232,2003,10.55,10.36,10.76,2080,956,1124,72,19,53,1179,0.79
116,9,2,1,0044,4768,2551,2217,11.07,10.77,11.42,2356,1081,1275,76,31,45,1364,0.73
163,9,2,1,0097,2176,1115,1061,11.74,11.32,12.18,1058,464,594,33,15,18,590,0.69

In [7]:
my_data.to_pickle('censo.pkl')